# TALLER 4

## Cargar CSV a MySQL con carga inicial e incremental

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine,text
from dotenv import load_dotenv

load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

ddl = """
CREATE TABLE IF NOT EXISTS laboratorio (
    laboratorio_id INT PRIMARY KEY,
    cliente varchar(100),
    producto varchar(100),
    categoria varchar(100),
    precio_unitario decimal(10,2),
    unidades int,
    fecha DATE
);

"""
with engine.connect() as conn:
    conn.execute(text(ddl))
    
    print("Tabla creada exitosamente")

:

In [20]:
# Lee CSV 
DF = PD.READ_CSV("VENTAS.CSV")

#Limpieza 
df["precio_unitario"] = pd.to_numeric(df["precio_unitario"], errors="coerce")
df = ["unidades"] = pd. to_numeric(df["unidades"], errors="coerce")
df = ["fecha"] = pd.to_datetime(df["fecha"], errors="coerce").dt.date

SyntaxError: cannot assign to literal (1605579632.py, line 6)

In [19]:
#Carga inicial: reemplazar contenido de la tabla
with engine.begin() as conn:
    coon.execute(text("TRUNCATE TABLE ventas"))
    df.to_sql("ventas", con=engine, if_exist="append", index=False, method="multi", chunksise=1000)
    
    print(f"Datos cargados eba la tabla de ventas. Total registros: {len(df)}")

NameError: name 'engine' is not defined

In [ ]:
from sqlalchemy import text

df_inc = pd.read_csv("ventas_incrementales.csv")
df_inc["Precio unitario"] = pd.to_numeric(df_inc["Precio unitario"], errors="coerce")
df_inc["unidades"] = pd.to_numeric (df_inc["unidades"], errors="coerce")
df_inc["fecha"] = pd.to_datetime(df_inc["fecha"], errors="coerce").dt.date

#Convertimos lista de diccionarios para ejecuciones masivas
records = df_inc.to_direct(orient="records")

upsert_sql = text("""
    
)